extends ../shared/template
block content
  h2: a(href='/profile/edit')= user.email
  .row
    .col-xs-5
      .photo(style= 'background-image:url(#{user.photo});')
    .col-xs-7
          table.table.table-striped.table-hover.table-bordered
            thead
              tr
                th Email
                th Phone
                th Facebook
                th Twitter
                th Visible
            tbody
                tr
                  td= user.email
                  td= user.phone
                  td= user.facebook
                  td= user.twitter
                  td= user.isvisible

